<div class="fixed-header">
  <div class="header-flex-box">
    <a bcRouterLink="/" [navigationDelay]="1500" class="logo pointer-large animsition-link">
      <div class="logo-img-box">
        <img class="logo-white" src="assets/images/logo/logo_white.svg" alt="logo">
        <img class="logo-black" src="assets/images/logo/logo_dark.svg" alt="logo">
      </div>
    </a>
    <div class="menu-open">
      <span class="hamburger"></span>
    </div>
  </div>
</div>
