<div id="footer" class="footer dark-bg-1 bg-code-2">
	<!-- flex-container start -->
	<div class="flex-container container top-bottom-padding-90">
		<!-- column start -->
		<div class="two-columns bottom-padding-60">
			<div class="content-right-margin-10 footer-center-mobile">
				<img class="footer-logo" src="assets/images/logo/logo_white.svg" alt="logo">
			</div>
		</div><!-- column end -->
		<!-- column start -->
		<div class="three-columns bottom-padding-60">
			<div class="content-left-right-margin-10">
				<ul class="footer-menu text-color-4">
					<li><a class="pointer-small animsition-link small-title-oswald hover-color" bcRouterLink="/home" [navigationDelay]="1500">Inicio</a></li>
					<li><a class="pointer-small animsition-link small-title-oswald hover-color" bcRouterLink="/nosotros" [navigationDelay]="1500">Nosotros</a></li>
					<li><a class="pointer-small animsition-link small-title-oswald hover-color" bcRouterLink="/servicios" [navigationDelay]="1500">Servicios</a></li>
					<!-- <li><a class="pointer-small animsition-link small-title-oswald hover-color" bcRouterLink="/productos" [navigationDelay]="1500" >Productos</a></li> -->
					<li><a class="pointer-small animsition-link small-title-oswald hover-color" bcRouterLink="/contactos" [navigationDelay]="1500">Contactos</a></li> 
				</ul>
			</div>
		</div><!-- column end -->
		<!-- column start -->
		<div class="four-columns bottom-padding-60">
			<div class="content-left-right-margin-10 footer-center-mobile">
				<ul class="footer-information text-color-4">
					<li><i class="far fa-envelope"></i>ADMIN@CODEANDHARDWARE.COM</li>
					<li><i class="fas fa-mobile-alt"></i>(507) 6300-5132</li>
					<li><i class="fas fa-map-marker-alt"></i><a class="xsmall-title-oswald text-height-17">Calle Eusebio Morales, Hotel Milan,<br> Politours, Oficina #2, Panamá</a></li>
				  </ul>
			</div>
		</div><!-- column end -->
		<!-- column start -->
		<div class="three-columns bottom-padding-60">
			<div class="content-left-margin-10">
				<ul class="footer-social">
					<li>
						<div class="flip-btn-box">
							<a href="https://instagram.com/codeandhardware" class="flip-btn pointer-small" data-text="Instagram">Instagram</a>
						</div>
					</li>
					<li>
						<div class="flip-btn-box">
							<a href="https://api.whatsapp.com/send?phone=50763005132&text=Hola! Estoy interesado en los servicios de Code and hardware." class="flip-btn pointer-small" data-text="WhatsApp">WhatsApp</a>
						</div>
					</li>
					<li>
						<div class="flip-btn-box">
							<a href="https://t.me/codeandhardware" class="flip-btn pointer-small" data-text="Telegram">Telegram</a>
						</div>
					</li>
					<li>
						<div class="flip-btn-box">
							<a href="https://youtube.com/codeandhardware" class="flip-btn pointer-small" data-text="Youtube">Youtube</a>
						</div>
					</li>
					<li>
						<div class="flip-btn-box">
							<a href="https://gitlab.com/codeandhardware" class="flip-btn pointer-small" data-text="Gitlab">Gitlab</a>
						</div>
					</li>
					
				</ul>
			</div>
		</div><!-- column end -->
		<!-- column start -->
		<div class="twelve-columns">
			<p class="p-letter-style text-color-4 footer-copyright">© Copyright 2021 Code And Hardware.</p>
		</div><!-- column end -->
	</div><!-- flex-container end -->
</div>
