<app-header></app-header>
<app-menu></app-menu>
<app-back-to-top [acceleration]="2" [animate]="true" [scrollDistance]="50" [speed]="50"></app-back-to-top>
<section id="up"
  class="page-head flex-min-height-box dark-bg-1 _mPS2id-t mPS2id-target mPS2id-target-first mPS2id-target-last">
  <div class="page-head-bg overlay-loading2" style="background-image: url(assets/images/backgrounds/bg_servi.jpg);">
  </div>
  <div class="flex-min-height-inner">
    <!-- flex-container start -->
    <div class="container top-bottom-padding-120 flex-container response-999">
      <div class="six-columns six-offset">
        <div class="content-left-margin-40">
          <h3 class="large-title-bold text-color-3">
            <span class="overlay-loading2 overlay-light-bg-1 tr-delay01">Creando</span><br>
            <span class="overlay-loading2 overlay-light-bg-1 tr-delay03 red-color">Valor</span><br>
            <span class="overlay-loading2 overlay-light-bg-1 tr-delay06">Digital</span><br>
            
          </h3>
          <p class="p-style-bold-up text-height-20 d-flex-wrap text-color-3 red-color">
            <span class="tr-delay08" data-text="y tengamos una conversación hoy.">Conoce lo que podemos ofrecer a la
              hora de invertir.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a (click)="scroll(down)" class="scroll-btn pointer-large _mPS2id-h">
    <div class="scroll-arrow-box">
      <span class="scroll-arrow"></span>
    </div>
    <div class="scroll-btn-flip-box">
      <span class="scroll-btn-flip" data-text="Desliza">Desliza</span>
    </div>
  </a>
</section>

<section #down class="light-bg-1 bg-code-1" data-midnight="black">
  <!-- container start -->
  <div class="container bottom-padding-120 top-padding-120">
    <!-- text-center start -->
    <div data-animation-container="" class="text-center animated">
      <h2 data-animation-child=""
        class="large-title text-height-15 text-color-1 overlay-anim-box2 animated overlay-anim2 red-color"
        data-animation="overlay-anim2">SERVICIOS</h2><br>
      <p data-animation-child=""
        class="fade-anim-box tr-delay02 text-color-1 xsmall-title-oswald top-margin-5 animated fade-anim"
        data-animation="fade-anim">Creamos capacidades tecnológicas preparadas para el futuro que impulsan su negocio
        y<br> lo ayudan a convertirse en un líder tecnológico. Descubra lo que podemos hacer por usted.</p>
    </div><!-- text-center end -->

    <!-- flex-container start -->
    <div class="flex-container response-999 top-padding-60">

      <!-- Primera Fila -->
      <div data-animation-container="" class="row">
        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay01" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/code.svg"
                  class="animated fadeIn img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Desarollo de
                  Software</h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Desarrollamos software personalizado que ayuda a su empresa a hacer
                  más. Nuestros equipos de desarrollo expertos crean soluciones que hacen que los procesos comerciales
                  sean más eficientes, mejoran la experiencia del cliente y generan más ganancias para nuestros
                  clientes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay01" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/page-not-found.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Mantenimiento
                  de Software</h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">¿Su software no está haciendo lo que se supone que debe hacer? Desde el
                  mantenimiento de su sistema de software actual hasta el rescate de un proyecto fallido, podemos
                  ayudarlo. Mejore su rendimiento y amplíe la funcionalidad de su aplicación heredada. Tenemos el equipo
                  listo para hacerlo.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay01" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/com.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Desarollo Web
                </h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Combinando nuestra experiencia con tecnología y estilo, nuestros
                  servicios de diseño de sitios web a medida están destinados a aumentar sus conversiones. ¡Nuestros
                  diseños van más allá de los gráficos y la presentación visual para obtener el "clic" deseado de sus
                  clientes!</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Primera Fila -->

        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay03" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/app.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Desarollo de
                  Apps iOS - Android</h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Brindamos servicios de desarrollo de aplicaciones web, Android y iOS
                  utilizando las últimas tecnologías nativas y multiplataforma. Nos centramos en la calidad en cada uno
                  de nuestros proyectos ágiles.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Primera Fila -->

        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay05" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/online-shop.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">E-Commerce
                </h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Creamos aplicaciones de comercio electrónico para nuestros clientes,
                  para permitir que los clientes de todo el mundo realicen compras sobre la marcha a través de
                  dispositivos móviles y de escritorio.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay05" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/ux-design.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Diseño de UI
                  y UX</h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Creamos diseños de productos centrados en el usuario que son
                  confiables, frescos, consistentes y exitosos en cumplir con los objetivos comerciales establecidos de
                  nuestros clientes.</p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay05" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/wordpress.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Desarrollo y
                  Mantenimiento Wordpress</h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Nuestros desarrolladores de WordPress son entusiastas y adoran crear un
                  sitio web con una solución personalizada posible para garantizar la mejor experiencia del visitante.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay03" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/line-chart.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">
                  Transformación digital</h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Transformamos y digitalizamos los procesos comerciales de nuestros
                  clientes para impulsar el rendimiento utilizando la tecnología como habilitador.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay03" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/brainstorm.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Consultoría
                  Tecnológica</h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Considerados sus socios tecnológico de confianza en tiempos de cambios
                  disruptivos, ofrecemos soluciones tecnológicas de vanguardia para impulsar la rentabilidad a largo
                  plazo de sus proyectos.</p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay07" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/interview.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Recurso
                  Outsourcing</h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Tenemos especialistas calificados y con experiencia en desarrollo
                  Frontend, Backend y Testers. Con desarrolladores para su proyecto, garantizamos las habilidades y
                  experiencias para su proyecto.</p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay07" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/toolbox.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Soluciones IT
                </h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Poseemos un equipo y los recursos calificados para la implementación de
                  soluciones IT, las cuales conllevan a la instalación, el mantenimiento y la ejecución de los proyectos
                  que usted maneje.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-4">
          <div data-animation-child="" class="card service-box fade-anim-box tr-delay07" data-animation="fade-anim">
            <div class="card-body">
              <div class="row text-center"><img src="assets/images/services/box.svg"
                  class="img-fluid w-25 mt-0hover-img overlay-anim-box2 overlay-dark-bg-1"
                  data-animation="overlay-anim2" alt=""></div>
              <div class="row mt-1 mb-2">
                <h5 class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Brooker de
                  Tecnológica</h5>
              </div>
              <div class="row">
                <p class="text-justify mt-0 text-color-5 overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Contamos con proveedores a nivel mundial para proveerles a nuestros
                  clientes, las herramientas y recursos necesarios para la ejecución de sus ideas y proyectos, buscamos,
                  compramos y entregamos.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- flex-container end -->
  </div><!-- container end -->
</section>


<section class="light-bg-2 _mPS2id-t mPS2id-target mPS2id-target-first mPS2id-target-last" data-midnight="black">
  <!-- flex-min-height-inner start -->
  <div class="flex-min-height-inner">
    <!-- container start -->
    <div data-animation-container="" class="container ">
      <!-- flex-container start -->
      <div class="flex-container animated">
        <!-- column start -->
        <div class="six-columns">
          <div data-animation-child="" class="bottom-padding-40 text-center fade-anim-box tr-delay02"
            data-animation="fade-anim">
            <img src="assets/images/services/technologies.png" class="img-fluid" alt="logo">
          </div>
        </div>
        <div class="six-columns">
          <div class="content-left-margin-00 mt-5">
            <h2 data-animation-child class="title-style title-fill" data-animation="title-fill-anim"
              data-text="Desarrolladores Full-Stack">Desarrolladores Full-Stack</h2>

            <p data-animation-child="" class="p-style-small text-color-2 fade-anim-box tr-delay05"
              data-animation="fade-anim">
              Nuestros desarrolladores web completos están a su disposición y listos para crear aplicaciones web
              receptivas y basadas en datos. Desarrollamos su proyecto implementando las últimas tecnologías para
              ofrecer una solución moderna y única, sean cuales sean sus requisitos. Estas son algunas de las
              tecnologias que usamos.
            </p>
          </div>
        </div><!-- column end -->

      </div><!-- flex-container end -->
    </div><!-- container end -->
  </div><!-- flex-min-height-inner end -->
</section>

<section class="bg-code-dots-gray light-bg-1" data-midnight="black">
  <div class="container bottom-padding-120">
   

      <div class="row mb-5">
        <div class="col-md-3 align-middle">
          <h2 data-animation-child="" class="title-style title-fill animated title-fill-anim"
            data-animation="title-fill-anim" style="margin-top: 15%;" data-text="Nuestro Enfoque">Nuestro Enfoque</h2>
        </div>
        <div class="col-md-9 align-middle  animated fadeUp">
          <p>Trabajar con Code and Hardware garantiza que su solución se adapte a su industria, gracias a nuestra
            experiencia trabajando para empresas líderes en las siguientes categorias.</p>
        </div>
      </div>

      <div class="row mb-2 text-center align-middle">

        <div class="col-md-3 col-sm-6 mt-4 mb-4">
          <div class="card service-box">
            <div class="card-body text-center">
              <img src="assets/images/services/orbit.svg" class="w-25" alt="">
              <h5 class="mt-2">Comunicación</h5>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mt-4 mb-4">
          <div class="card service-box">
            <div class="card-body text-center">
              <img src="assets/images/services/supermarket.svg" class="w-25" alt="">
              <h5 class="mt-2">Comercio electrónico</h5>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mt-4 mb-4">
          <div class="card service-box">
            <div class="card-body text-center">
              <img src="assets/images/services/money.svg" class="w-25" alt="">
              <h5 class="mt-2">Finanzas</h5>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mt-4 mb-4">
          <div class="card service-box">
            <div class="card-body text-center">
              <img src="assets/images/services/pulse.svg" class="w-25" alt="">
              <h5 class="mt-2">Cuidado de la salud</h5>
            </div>
          </div>
        </div>

    
        <div class="col-md-3 col-sm-2 mt-lg-2 mt-md-2 mt-sm-4 mb-4">
          <div class="card service-box">
            <div class="card-body text-center">
              <img src="assets/images/services/truck.svg" class="w-25" alt="">
              <h5 class="mt-2">Logistica</h5>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mt-lg-2 mt-md-2 mt-sm-4 mb-4">
          <div class="card service-box">
            <div class="card-body text-center">
              <img src="assets/images/services/chemistry.svg" class="w-25" alt="">
              <h5 class="mt-2">Ciencias</h5>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mt-lg-2 mt-md-2 mt-sm-4 mb-4">
          <div class="card service-box">
            <div class="card-body text-center">
              <img src="assets/images/services/student.svg" class="w-25" alt="">
              <h5 class="mt-2">Educación</h5>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mt-lg-2 mt-md-2 mt-sm-4 mb-4">
          <div class="card service-box">
            <div class="card-body text-center">
              <img src="assets/images/services/technician.svg" class="w-25" alt="">
              <h5 class="mt-2">Automotor</h5>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-5">
        <blockquote class="quote-content">
          <p class="p-style-bold text-justify text-color-4">Un sitio web sólido, bien planificado y bien ejecutado puede
            distinguirte de tu competencia, generar un valor final y convertirte en la estrella del espectáculo.</p>
        </blockquote>
      </div>

    </div>
  
</section>

<app-footer></app-footer>
