<nav class="nav-container dark-bg-1">
  <div class="nav-logo w-50">
    <img src="assets/images/logo/logo_white.svg" alt="logo">
  </div>
  <div class="menu-close pointer-large"></div>
  <div class="dropdown-close-box">
    <div class="dropdown-close pointer-large">
      <span></span>
    </div>
  </div>
  <ul class="nav-menu dark-bg-1">
    <li class="nav-box nav-bg-change active">
      <a class="animsition-link pointer-large nav-link" bcRouterLink="/home" [navigationDelay]="1500"><span class="nav-btn" data-text="Inicio" bcRouterLinkActive="active">Inicio</span></a>
      <div class="nav-bg" style="background-image: url(assets/images/backgrounds/menu/bg1.jpg);"></div>
    </li>
    <li class="nav-box nav-bg-change">
        <a class="animsition-link pointer-large nav-link" bcRouterLink="/nosotros" [navigationDelay]="1500"><span class="nav-btn" data-text="Nosotros" bcRouterLinkActive="active">Nosotros</span></a>
        <div class="nav-bg" style="background-image: url(assets/images/backgrounds/menu/bg2.jpg);"></div>
      </li>

      <li class="nav-box nav-bg-change">
        <a class="animsition-link pointer-large nav-link" bcRouterLink="/servicios" [navigationDelay]="1500"><span class="nav-btn" data-text="Servicios" bcRouterLinkActive="active">Servicios</span></a>
        <div class="nav-bg" style="background-image: url(assets/images/backgrounds/menu/bg3.jpg);"></div>
      </li>

      <!-- <li class="nav-box nav-bg-change">
        <a class="animsition-link pointer-large nav-link" bcRouterLink="/productos" [navigationDelay]="1500"><span class="nav-btn" data-text="productos" bcRouterLinkActive="active">Productos</span></a>
        <div class="nav-bg" style="background-image: url(assets/images/backgrounds/menu/bg4.jpg);"></div>
      </li> -->
       
      <!-- <li class="nav-box nav-bg-change dropdown-open active" wfd-id="217">
        <a class="pointer-large nav-link">
          <span class="nav-btn" data-text="Servicios" wfd-id="232">Servicios</span>
        </a>
        
        
        <ul class="dropdown" wfd-id="219">
          <li class="nav-box" wfd-id="230">
            <a bcRouterLink="/servicios" [navigationDelay]="1500" class="animsition-link pointer-large" target="_blank">
              <span class="nav-btn" data-text="Desarrollo y Consultoria" wfd-id="231">Desarrollo y Consultoria</span>
            </a>
          </li>
          <li class="nav-box" wfd-id="226">
            <a href="mailto:admin@codeandhardware.com?subject=Contacto%20desde%20Codeandhardware.com" target="_blank" class="animsition-link pointer-large">
              <span class="nav-btn" data-text="Equipos a medida" wfd-id="227">Equipos a medida</span>
            </a>
          </li>
          <li class="nav-box" wfd-id="228">
            <a href="https://t.me/codeandhardware" class="animsition-link pointer-large" target="_blank">
              <span class="nav-btn" data-text="Identidad Corporativa" wfd-id="229">Identidad Corporativa</span>
            </a>
          </li>
        </ul>
        
        <div class="nav-bg" style="background-image: url(assets/images/backgrounds/menu/bg3.jpg);" wfd-id="218"></div>
      </li>-->

      <li class="nav-box nav-bg-change">
        <a class="animsition-link pointer-large nav-link" bcRouterLink="/contactos" [navigationDelay]="1500"><span class="nav-btn" data-text="Contactos" bcRouterLinkActive="active">Contactos</span></a>
        <div class="nav-bg" style="background-image: url(assets/images/backgrounds/menu/bg5.jpg);"></div>
      </li>


      <!-- <li class="nav-box nav-bg-change dropdown-open active" wfd-id="217">
        <a class="pointer-large nav-link">
          <span class="nav-btn" data-text="Contactos" wfd-id="232">Contactos</span>
        </a>
 
        <ul class="dropdown" wfd-id="219">
          
          <li class="nav-box" wfd-id="226">
            <a bcRouterLink="/contactos" [navigationDelay]="1500" class="animsition-link pointer-large">
              <span class="nav-btn" data-text="Email" wfd-id="227">Detalles</span>
            </a>
          </li>
          <li class="nav-box" wfd-id="230">
            <a href="https://api.whatsapp.com/send?phone=50760116491&text=Hola! Estoy interesado en los servicios de Code and hardware." class="animsition-link pointer-large" target="_blank">
              <span class="nav-btn" data-text="WhatsApp" wfd-id="231">WhatsApp</span>
            </a>
          </li>
          <li class="nav-box" wfd-id="228">
            <a href="https://t.me/codeandhardware" class="animsition-link pointer-large" target="_blank">
              <span class="nav-btn" data-text="Telegram" wfd-id="229">Telegram</span>
            </a>
          </li>
        </ul>
        
        <div class="nav-bg" style="background-image: url(assets/images/backgrounds/menu/bg5.jpg);" wfd-id="218"></div>
      </li> -->
  </ul>
</nav>
