<app-header></app-header>
<app-menu></app-menu>
<app-back-to-top [acceleration]="8" [animate]="true" [scrollDistance]="50" [speed]="20"></app-back-to-top>
<section class="home-slider fullscreen-home-slider" #up>
    <!-- swiper-wrapper start -->
    <div class="swiper-wrapper">
        <!-- swiper-slide start -->
        <div class="swiper-slide flex-min-height-box home-slide">
            <!-- slide-bg -->
            <div class="slide-bg"
                style="background-image:url(assets/images/backgrounds/fullscreen/bg2.jpg)">
            </div>
            <!-- home-slider-content start -->
            <div class="home-slider-content flex-min-height-inner dark-bg-1">
                <!-- container start -->
                <div class="container top-bottom-padding-120">
                    <h3 class="large-title-bold text-color-3">
                        <span class="slider-overlay2 slider-tr-delay01">Soluciones tecnológicas</span><br>
                        <span class="slider-overlay2 slider-tr-delay03 red-color">Simplificadas y Ajustadas</span><br>
                        <span class="slider-overlay2 slider-tr-delay04">a sus necesidades.</span><br>
                    </h3>
                    <div class="slider-fade slider-tr-delay04 top-margin-30">
                        <div class="border-btn-box pointer-large">
                            <div class="border-btn-inner">
                                <a class="animsition-link border-btn" data-text="Quiénes Somos" bcRouterLink="/nosotros" [navigationDelay]="1500">Quiénes Somos</a>
                            </div>
                        </div>
                    </div>
                </div><!-- container end -->
            </div><!-- home-slider-content end -->
        </div><!-- swiper-slide end -->
        <!-- swiper-slide start -->
        <div class="swiper-slide flex-min-height-box home-slide">
            <!-- slide-bg -->
            <div class="slide-bg"
                style="background-image:url(assets/images/backgrounds/fullscreen/bg3.jpg)">
            </div>
            <div class="bg-overlay"></div>
            <!-- home-slider-content start -->
            <div class="home-slider-content flex-min-height-inner dark-bg-1">
                <!-- container start -->
                <div class="container top-bottom-padding-120 text-center">
                    <h2 class="large-title-bold text-color-3">
                        <span class="slider-overlay2 slider-tr-delay01">WEB, Ecommerce, MOBILE AND</span><br>
                        <span class="slider-overlay2 slider-tr-delay02">SOFTWARE DEVELOPERS</span>
                    </h2>
                    <p class="p-style-bold-up text-height-20 slider-fade slider-tr-delay03 text-color-4 red-color">somos Proovedores de recursos outsourcing.</p><br>
                    <div class="slider-fade slider-tr-delay04 top-margin-30">
                        <div class="border-btn-box pointer-large">
                            <div class="border-btn-inner">
                                <a bcRouterLink="/servicios" [navigationDelay]="1500" class="animsition-link border-btn" data-text="Servicios">Servicios</a>
                            </div>
                        </div>
                    </div>
                </div><!-- container end -->
            </div><!-- home-slider-content end -->
        </div><!-- swiper-slide end -->
        <!-- swiper-slide start -->
        <div class="swiper-slide flex-min-height-box home-slide">
            <!-- slide-bg -->
            <div class="slide-bg"
                style="background-image:url(assets/images/backgrounds/fullscreen/bg4.jpg)">
            </div>
            <div class="bg-overlay"></div>
            <!-- home-slider-content start -->
            <div class="home-slider-content flex-min-height-inner dark-bg-1">
                <!-- container start -->
                <div class="container top-bottom-padding-120 text-right">
                    <h2 class="large-title-bold text-color-3">
                        <span class="slider-overlay2">Consultores y</span><br>
                        <span class="slider-overlay2 slider-tr-delay01">Servicio técnico</span>
                    </h2>
                    <p class="p-style-bold-up text-height-20 slider-fade slider-tr-delay03 text-color-4 red-color">Profesionales inhouse o remoto para tus consultas técnicas.</p><br>
                    <div class="slider-fade slider-tr-delay04 top-margin-30">
                        <div class="border-btn-box pointer-large">
                            <div class="border-btn-inner">
                                <a bcRouterLink="/servicios" [navigationDelay]="1500" class="animsition-link border-btn" data-text="Servicios">Servicios</a>
                            </div>
                        </div>
                    </div>
                </div><!-- container end -->
            </div><!-- home-slider-content end -->
        </div><!-- swiper-slide end -->
    
    </div><!-- swiper-wrapper end -->

    <!-- swiper-button-next start -->
    <div class="swiper-button-next">
        <div class="slider-arrow-next-box">
            <span class="slider-arrow-next"></span>
        </div>
    </div><!-- swiper-button-next end -->
    <!-- swiper-button-prev start -->
    <div class="swiper-button-prev">
        <div class="slider-arrow-prev-box">
            <span class="slider-arrow-prev"></span>
        </div>
    </div><!-- swiper-button-prev end -->

    <!-- swiper-pagination -->
    <div class="swiper-pagination"></div>

    <!-- scroll-btn start -->
    <a (click)="scroll(down)" class="scroll-btn pointer-large">
        <div class="scroll-arrow-box">
            <span class="scroll-arrow"></span>
        </div>
        <div class="scroll-btn-flip-box">
            <span class="scroll-btn-flip" data-text="Desliza">Desliza</span>
        </div>
    </a><!-- scroll-btn end -->
</section><!-- home-slider end -->

<!-- flex-min-height-box start -->
<section #down class="dark-bg-1 flex-min-height-box">
    <!-- flex-min-height-inner start -->
    <div class="flex-min-height-inner">
        <!-- container start -->
        <div class="container small top-bottom-padding-60">
            <!-- flex-container start -->
            <div data-animation-container class="flex-container">
                <!-- column start -->
                <div class="row text-center"> 
                <h2 class="large-title"><span data-animation-child class="title-fill" data-animation="title-fill-anim" data-text="Tu viaje hacia el">Tu viaje hacia el</span><span data-animation-child class="title-fill tr-delay01" data-animation="title-fill-anim" data-text="liderazgo tecnológico.">liderazgo tecnológico.</span></h2>
                </div><!-- column end -->
                <!-- column start -->
                <div class="six-columns">
                    <div class="content-right-margin-20">
                        <p data-animation-child class="p-style-medium text-color-5 fade-anim-box tr-delay02 text-justify"
                            data-animation="fade-anim">En Code N’ Hardware, poseemos un equipo con mas de 15 años de experiencia en el ambiente tecnológico, durante esos años nuestro C.E.O ha venido captando, después de trabajar con y para varios, entre grandes empresas y clientes, el aprendizaje necesario para poder crear un equipo con las bases fundamentales, pero poderosas para entregar un servicio o un producto de la mas alta calidad a los clientes más exigentes, por muy grande o pequeño que sea.</p>
                    </div>
                </div><!-- column end -->
                <!-- column start -->
                <div class="six-columns">
                    <div class="content-left-margin-20">
                        <p data-animation-child class="p-style-medium text-color-5 fade-anim-box tr-delay03 text-justify"
                            data-animation="fade-anim">Nos esforzamos para entregar productos y servicios de alta calidad, en tiempo récord y con la mejor aceptación. Por otra parte nuestro equipo outsourcing, tienen la mentalidad y profesionalismo de crear una confianza entre cliente, recurso y proyecto, para que de esta manera podemos cumplir las exigencias de grandes empresas y profesionales que desean la contratación de un servicio o recurso fiable. </p>
                    </div>
                </div><!-- column end -->
                <!-- column start -->
                <div class="twelve-columns text-center">
                    <p data-animation-child
                        class="p-letter-style text-color-4 text-height-13 fade-anim-box tr-delay04 red-color"
                        data-animation="fade-anim">Developers - SCRUMS - Project Managers - DevOps - IT Consulting </p>
                </div><!-- column end -->
            </div><!-- flex-container end -->
        </div><!-- container end -->
    </div><!-- flex-min-height-inner end -->
</section><!-- flex-min-height-box end -->

<!-- section start -->
<section  id="services" class="light-bg-1 top-padding-120" data-midnight="black">
    <!-- container start -->
    <div data-animation-container class="container small bottom-padding-60 text-center">
        <h2 data-animation-child class="large-title text-height-10 text-color-1 overlay-anim-box2"
            data-animation="overlay-anim2 red-color">¿Que Ofrecemos?</h2><br>
        <p data-animation-child class="fade-anim-box tr-delay02 text-color-1 xsmall-title-oswald top-margin-5"
            data-animation="fade-anim">Ofrecemos Soluciones Tecnologicas</p>
    </div><!-- container end -->

    <!-- bottom-padding-90 start -->
    <div class="bottom-padding-0">
        <!-- portfolio-content start -->
        <div class="portfolio-content flex-min-height-box">
            <!-- portfolio-content-inner start -->
            <div class="portfolio-content-inner flex-min-height-inner">
                <!-- flex-container start -->
                <div class="flex-container container small">
                    <!-- column start -->
                    <div data-animation-container class="six-columns">
                        <div class="content-right-margin-20">
                            <span class="small-title-oswald red-color overlay-anim-box2"
                                data-animation="overlay-anim2">Programacion</span>
                            <h3 class="title-style text-color-1">
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay01"
                                    data-animation="overlay-anim2">Paginas Web</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay02"
                                    data-animation="overlay-anim2">Aplicaciones Móviles</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay03"
                                    data-animation="overlay-anim2">App's Nativas y Software </span>
                            </h3>
                            <p data-animation-child class="p-style-small text-color-2 fade-anim-box tr-delay04"
                                data-animation="fade-anim">Somos pioneros en el desarrollo de web, apps y software, nos encargamos desde el flujo del mismo, lógica, experiencia visual y todo el proceso que cualquiera los proyectos necesite. Entregando un producto enforcado a performance y buena funcionabilidad..</p>
                        </div>
                    </div><!-- column end -->
                    <!-- column start -->
                    <div class="six-columns top-padding-0">
                        <a bcRouterLink="/servicios" [navigationDelay]="1500" class="portfolio-content-bg-box pointer-large hover-box hidden-box animsition-link">
                            <div class="portfolio-content-bg hover-img overlay-anim-box2 overlay-dark-bg-1"
                                data-animation="overlay-anim2"
                                style="background-image:url(assets/images/projects/dev_indx.jpg)">
                            </div>
                        </a>
                    </div><!-- column end -->
                </div><!-- flex-container end -->
            </div><!-- portfolio-content-inner end -->
        </div><!-- portfolio-content end -->
    </div><!-- bottom-padding-90 end -->


   

    <!-- bottom-padding-90 start -->
    <div class="bottom-padding-0">
        <!-- portfolio-content start -->
        <div class="portfolio-content flex-min-height-box">
            <!-- portfolio-content-inner start -->
            <div class="portfolio-content-inner flex-min-height-inner">
                <!-- flex-container start -->
                <div class="flex-container reverse container small">
                    <!-- column start -->
                    <div class="six-columns top-padding-60">
                        <a bcRouterLink="/servicios" [navigationDelay]="1500" class="portfolio-content-bg-box pointer-large hover-box hidden-box animsition-link">
                            <div class="portfolio-content-bg hover-img overlay-anim-box2 overlay-dark-bg-1"
                                data-animation="overlay-anim2"
                                style="background-image:url(assets/images/projects/index-img-4.jpg)">
                            </div>
                        </a>
                    </div><!-- column end -->
                    <!-- column start -->
                    <div data-animation-container class="six-columns top-padding-0">
                        <div class="content-left-margin-40">
                            <span class="small-title-oswald red-color overlay-anim-box2"
                                data-animation="overlay-anim2">Redes, Wifi y Seguridad.</span>
                            <h3 class="title-style text-color-1">
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay01"
                                    data-animation="overlay-anim2">Cableado estructurado</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay02"
                                    data-animation="overlay-anim2">Video Vigilancia, Control de acceso</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay03"
                                    data-animation="overlay-anim2">Domotica y Automatización</span>
                            </h3>
                            <p data-animation-child class="p-style-small text-color-2 fade-anim-box tr-delay04"
                                data-animation="fade-anim">Con mas de 10 años en el manejo de proyectos IT, consultoría IT e instalación de todo equipo de control de acceso, redes, datacenter, servidores y video vigilancia. Hemos creado un catalogo de servicios y soluciones, los cuales otorgan la seguridad de satisfacción a la hora de realizar sus proyectos con nuestro equipo de profesionales.</p>


                        </div>
                    </div><!-- column end -->
                </div><!-- flex-container end -->
            </div><!-- portfolio-content-inner end -->
        </div><!-- portfolio-content end -->
    </div><!-- bottom-padding-90 end -->

    <!-- bottom-padding-90 start -->
    <div class="bottom-padding-0">
        <!-- portfolio-content start -->
        <div class="portfolio-content flex-min-height-box">
            <!-- portfolio-content-inner start -->
            <div class="portfolio-content-inner flex-min-height-inner">
                <!-- flex-container start -->
                <div class="flex-container container small">
                    <!-- column start -->
                    <div data-animation-container class="six-columns">
                        <div class="content-right-margin-40">
                            <span class="small-title-oswald red-color overlay-anim-box2"
                                data-animation="overlay-anim2">Consultoria IT</span>
                            <h3 class="title-style text-color-1">
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay01"
                                    data-animation="overlay-anim2">Manejo de Proyectos</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay02"
                                    data-animation="overlay-anim2">Planning</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay03"
                                    data-animation="overlay-anim2">Esquemas de Flujo</span>
                            </h3>
                            <p data-animation-child class="p-style-small text-color-2 fade-anim-box tr-delay04"
                                data-animation="fade-anim">¿Necesitas un partner?, así mismo, a la hora de crear un proyecto, no cuentas con un especialista, o grupo de profesionales que te apoyen en el diseño, planeamiento e implementación de la parte tecnológica en tu proyecto, nosotros podremos apoyarte, trabajamos directamente con arquitectos e ingenieros para apoyarlos en una solución completa a la ejecución de sus proyectos.</p>


                        </div>
                    </div><!-- column end -->
                    <!-- column start -->
                    <div class="six-columns top-padding-0">
                        <a bcRouterLink="/servicios" [navigationDelay]="1500" class="portfolio-content-bg-box pointer-large hover-box hidden-box animsition-link">
                            <div class="portfolio-content-bg hover-img overlay-anim-box2 overlay-dark-bg-1"
                                data-animation="overlay-anim2"
                                style="background-image:url(assets/images/projects/index-img-5.jpg)">
                            </div>
                        </a>
                    </div><!-- column end -->
                </div><!-- flex-container end -->
            </div><!-- portfolio-content-inner end -->
        </div><!-- portfolio-content end -->
    </div><!-- bottom-padding-90 end -->

    
    <!-- bottom-padding-90 start -->
    <div class="bottom-padding-0">
        <!-- portfolio-content start -->
        <div class="portfolio-content flex-min-height-box">
            <!-- portfolio-content-inner start -->
            <div class="portfolio-content-inner flex-min-height-inner">
                <!-- flex-container start -->
                <div class="flex-container reverse container small">
                    <!-- column start -->
                    <div class="six-columns top-padding-0">
                        <a bcRouterLink="/servicios" [navigationDelay]="1500" class="portfolio-content-bg-box pointer-large hover-box hidden-box animsition-link">
                            <div class="portfolio-content-bg hover-img overlay-anim-box2 overlay-dark-bg-1"
                                data-animation="overlay-anim2"
                                style="background-image:url(assets/images/projects/index-img-2.jpg)">
                            </div>
                        </a>
                    </div><!-- column end -->
                    <!-- column start -->
                    <div data-animation-container class="six-columns">
                        <div class="content-left-margin-40">
                            <span class="small-title-oswald red-color overlay-anim-box2"
                                data-animation="overlay-anim2">Todo en Hardware</span>
                            <h3 class="title-style text-color-1">
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay01"
                                    data-animation="overlay-anim2">Equipos de computo</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay02"
                                    data-animation="overlay-anim2">Datacenter y Servidores</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay03"
                                    data-animation="overlay-anim2">Production y Consumibles</span>
                            </h3>
                            <p data-animation-child class="p-style-small text-color-2 fade-anim-box tr-delay04"
                                data-animation="fade-anim">Tenemos contacto con los fabricantes y proveedores de las marcas mas grandes del mundo en cuanto a equipos de cómputo, redes, datacenter, videovigilancia y más, poseemos a su vez gran agilidad a la hora de buscar el producto que necesite, desde muy pequeño hasta el de mas grande envergadura. </p>

                        </div>
                    </div><!-- column end -->
                </div><!-- flex-container end -->
            </div><!-- portfolio-content-inner end -->
        </div><!-- portfolio-content end -->
    </div><!-- bottom-padding-90 end -->


       <!-- bottom-padding-90 start -->
       <div class="bottom-padding-0">
        <!-- portfolio-content start -->
        <div class="portfolio-content flex-min-height-box">
            <!-- portfolio-content-inner start -->
            <div class="portfolio-content-inner flex-min-height-inner">
                <!-- flex-container start -->
                <div class="flex-container container small">
                    <!-- column start -->
                    <div data-animation-container class="six-columns">
                        <div class="content-right-margin-40">
                            <span class="small-title-oswald red-color overlay-anim-box2"
                                data-animation="overlay-anim2">Ecommerce</span>
                            <h3 class="title-style text-color-1">
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay01"
                                    data-animation="overlay-anim2">Tiendas En Linea</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay02"
                                    data-animation="overlay-anim2">Aplicaciones de Delivery</span><br>
                                <span data-animation-child
                                    class="overlay-anim-box2 overlay-dark-bg-1 tr-delay03"
                                    data-animation="overlay-anim2">Metodos de Pago</span>
                            </h3>
                            <p data-animation-child class="p-style-small text-color-2 fade-anim-box tr-delay04"
                                data-animation="fade-anim">Nos especializamos en el desarrollo de tiendas en línea, pasarelas de pago y controles de delivery que se adaptan a las necesidades especificas del cliente.</p>


                        </div>
                    </div><!-- column end -->
                    <!-- column start -->
                    <div class="six-columns top-padding-0">
                        <a bcRouterLink="/servicios" [navigationDelay]="1500" class="portfolio-content-bg-box pointer-large hover-box hidden-box animsition-link">
                            <div class="portfolio-content-bg hover-img overlay-anim-box2 overlay-dark-bg-1"
                                data-animation="overlay-anim2"
                                style="background-image:url(assets/images/projects/index-img-6.jpg)">
                            </div>
                        </a>
                    </div><!-- column end -->
                </div><!-- flex-container end -->
            </div><!-- portfolio-content-inner end -->
        </div><!-- portfolio-content end -->
    </div><!-- bottom-padding-90 end -->
</section><!-- section end -->


<div class="dark-bg-1 ">
    <!-- flex-min-height-inner start -->
    <div class="">
        <!-- flex-container start -->
        <div class="flex-container reverse container small top-bottom-padding-120 project-quot">
            <!-- column start -->
            <div class="four-columns">
                <div class="content-right-margin-20">
                   <img src="assets/images/ecommerce.png" alt="">
                </div>
            </div><!-- column end -->
            <!-- column start -->
            <div class="eight-columns">
                <div class="content-left-margin-20">
                    <h4 _ngcontent-yjv-c57="" class="large-title text-center"><span _ngcontent-yjv-c57="" data-animation-child="" data-animation="title-fill-anim" data-text="Ecommerce" class="title-fill animated title-fill-anim">Ecommerce</span></h4><br>
                    <blockquote class="p-style-medium text-color-4">"Somos innovadores en desarrollo E-Commerce, ofrecemos soluciones en pasarelas de pago que pueden trabajar bajo cualquier entidad bancaria ubicada a nivel mundial. Trabajamos de la mano con grandes compañías de seguridad y transacciones bancarias para cumplir los estándares de calidad que los clientes mas exigentes necesiten."</blockquote>
                </div>
            </div><!-- column end -->
        </div><!-- flex-container end -->
        
    </div><!-- flex-min-height-inner end -->
</div>
<div class="text-center top-bottom-padding-120 red-bg" data-midnight="white">
    <a bcRouterLink="/contactos" [navigationDelay]="1500" class="pointer-large animsition-link overlay-btn-box">
        <span class="overlay-btn-wt" data-text="Contactanos">Contactanos</span>
    </a>
</div>


<!-- section start -->
<section class="dark-bg-1">
    <!-- container start -->
    <div class="container small top-bottom-padding-120">
        <!-- medium-title start -->
        <h2 data-animation-container class="medium-title">
            <span data-animation-child class="title-fill" data-animation="title-fill-anim"
                data-text="Nuestros Clientes">Nuestros Clientes</span>
        </h2><!-- medium-title end -->

        <!-- client-list start -->
        <ul class="client-list d-flex-wrap top-padding-60">
            <li>
                <a bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/samsung.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/samsung_up.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>

            <li>
                <a bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/cheil.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/cheil_up.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>
            
            <li>
                <a bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/banesco.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/banesco_up.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>

            <li>
                <a bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/3eabc7ab-8bae-44f0-8389-0169389e38c2.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/1c4bfb0e-0b9f-4c19-ba5c-113fb0714514.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>
           
            <li>
                <a  bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/7d1fe64f-fbd7-4e5f-896d-6d79c91f29bf.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/858e2e28-faae-441c-bd9c-5c490c72b562.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>
            <li>
                <a  bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/8b587214-bdcb-4d74-bb61-2480d1d15aa7.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/4b983c9a-759d-4921-ba60-dbbcaa702ee5.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>
        
            <li>
                <a bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/d51e13e6-1320-4227-8bc8-c36aaa82dffd.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/aed14647-8ecf-4fef-8274-737d79a7ede1.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>
            <li>
                <a  bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/fnet.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/fnet_up.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>
           
            <li>
                <a  bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/skip.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/skip_up.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>
            <li>
                <a  bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/gc.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/gc_up.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>
         
            <li>
                <a  bcRouterLink="#" [navigationDelay]="1500" class="pointer-large d-block">
                    <div class="brand-box">
                        <img src="assets/images/clients/jug.png" alt="Brand"
                            class="hover-opac-img">
                        <img src="assets/images/clients/jug_up.png" alt="Brand"
                            class="opac-img">
                    </div>
                </a>
            </li>
            <li class="empty-spot-box">
                <a data-animation-container  bcRouterLink="#" [navigationDelay]="1500" class="animsition-link pointer-large p-style-bold-up empty-spot d-block">
                        <a bcRouterLink="#" [navigationDelay]="1500" class="flip-btn pointer-small" style="color: #5d1fd5;">Este espacio <br>es para ti.</a>
                </a>
            </li>
        </ul>
    </div>
</section>


<app-footer></app-footer>