<a mat-fab type="button" aria-label="Back to top of page" class="to-top-btn pointer-small"
  [@appearInOut]="animationState" (click)="scrollTop($event)">
  <span class="to-top-arrow"></span>
</a>
