<app-header></app-header>
<app-menu></app-menu>
<app-back-to-top [acceleration]="2" [animate]="true" [scrollDistance]="50" [speed]="50"></app-back-to-top>
<section id="up" class="page-head flex-min-height-box dark-bg-1">
    <!-- page-head-bg -->
    <div class="page-head-bg overlay-loading2" style="background-image: url(assets/images/backgrounds/menu/bg2.jpg);"></div>
    
    <!-- flex-min-height-inner start -->
      <div class="flex-min-height-inner">
          <!-- flex-container start -->
          <div class="container top-bottom-padding-120 flex-container response-999">
              <!-- column start -->
              <div class="six-columns six-offset">
                  <div class="content-left-margin-40">
                      <h3 class="large-title-bold text-color-3">
                        <span class="overlay-loading2 overlay-light-bg-1 tr-delay04">Estas en </span><br>
                        <span class="overlay-loading2 overlay-light-bg-1 tr-delay04 red-color">buena</span><br>
                        <span class="overlay-loading2 overlay-light-bg-1 tr-delay06">compañia</span>
                    </h3>
                    <p class="p-style-bold-up text-height-20 d-flex-wrap text-color-3 red-color">
                        <span class="tr-delay08" data-text="y tengamos una conversación hoy.">Programadores - emprendedores - socios</span>
                      </p>
                  </div>
              </div><!-- column end -->
          </div><!-- flex-container end -->
      </div><!-- flex-min-height-inner end -->
      
      <!-- scroll-btn start -->
    <a (click)="scroll(down)" class="scroll-btn pointer-large">
        <div class="scroll-arrow-box">
            <span class="scroll-arrow"></span>
        </div>
        <div class="scroll-btn-flip-box">
            <span class="scroll-btn-flip" data-text="Desliza">Desliza</span>
        </div>
     </a><!-- scroll-btn end -->
</section><!-- page-head end -->

<!-- flex-min-height-box start -->
<section #down class="light-bg-1 top-bottom-padding-120" data-midnight="black">
            <!-- flex-container start -->
            <div data-animation-container class="container">
                <!-- column start -->

                <div class="row">
                  <div class="col-md-6 col-lg-6 mx-auto">
                    <div class="text-center mb-5">
                      <img data-animation-child class="fade-anim-box tr-delay02" src="assets/images/logs/about.svg"
                        style="width: 70%;" alt="logo" data-animation="fade-anim">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 mx-auto">
                    <h2 data-animation-child class="title-style title-fill" data-animation="title-fill-anim"
                      data-text="Acerca de Nosotros">Acerca de Nosotros</h2>
                    <p data-animation-child class="p-style-xsmall text-color-1 fade-anim-box tr-delay01"
                      data-animation="fade-anim">
                      <b>Code and Hardware.</b> es una empresa joven de desarrolloro de software,ubicada
                      en Ciudad de Panamá. La compañía se centra en la subcontratación de desarrollo de software,
                      páginas webs, soluciones ecommerce proyectos IT e implementaciones de nuevas tecnologías
                      personalizadas a través de múltiples herramientas, incluidas .NET, Java, PHP, JavaScript y C ++,
                      así como redes alámbricas e inalámbricas, mantenimiento a servidores y data centers, instalación
                      de todo tipo de equipo de seguridad y control de accesos entre muchas más. Con más de 10 años en
                      Tecnologías IT e infinidad de proyectos exitosos para docenas de clientes a nivel nacional y más
                      de 20 profesionales altamente experimentados a bordo, estamos calificados como una de las
                      principales empresas de outsourcing de software y tecnología en Panamá.
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-6 mx-auto">
                    <p data-animation-child class="p-style-xsmall text-color-1 fade-anim-box tr-delay01"
                      data-animation="fade-anim">
                      En Code and Hardware, poseemos un equipo con más de 15 años de experiencia en el ambiente
                      tecnológico, durante ese tiempo nuestro C.E.O ha captado, luego de trabajar con grandes empresas y
                      clientes, el aprendizaje necesario para poder crear un equipo con las bases fundamentales y
                      poderosas para entregar un servicio o un producto de la más alta calidad a clientes más exigentes,
                      por muy grande o pequeño que sea el proyecto.
                      <br><br>Contamos con un sólido equipo, nuestros desarrolladores de software, analistas de
                      negocios, ingenieros de control de calidad y gerentes de proyectos apoyan a nuestros clientes en
                      cada fase del proceso de desarrollo, desde el análisis de requisitos hasta el lanzamiento del
                      proyecto. Nuestra personal es nuestro principal activo, por lo que estamos mejorando
                      constantemente sus habilidades y conocimientos para hacer crecer su profesionalismo y mantenerse
                      actualizados en este mundo de Tecnología en constante cambio.
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-6 mx-auto">
                    <div class="text-center mt-5">
                      <img data-animation-child class="fade-anim-box tr-delay02" data-animation="fade-anim"
                        src="assets/images/logs/about_2.svg" style="width: 70%;" alt="logo">
                    </div>
                  </div>
                </div>

            </div><!-- flex-container end -->
   
</section><!-- flex-min-height-box end -->

<!-- <section class="dark-bg-1">
    <div class="flex-container container bottom-padding-60 top-padding-120">
        <div class="four-columns bottom-padding-60">
            <div data-animation-container class="content-right-margin-20 team-title-box">
                <h2 data-animation-child class="small-title-oswald overlay-anim-box2 red-color" data-animation="overlay-anim2">NUESTRO EQUIPO</h2>
                <h3 class="title-style text-color-4">
                    <span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Profesionales</span><br>
                    <span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay02" data-animation="overlay-anim2">Expertos</span><br>
                    <span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay03" data-animation="overlay-anim2">Compañeros</span>
                </h3>
            </div>
        </div>

        <div class="four-columns bottom-padding-60">
            <a data-animation-container href="#" class="content-left-right-margin-10 hover-box pointer-large d-block">
                <div data-animation-child class="overlay-anim-box2 overlay-dark-bg-1 team-img-box" data-animation="overlay-anim2">
                    <img class="hover-img" src="assets/images/team/1.jpg" alt="Balanchaev Balancha">
                </div>
                <div class="team-content">
                    <h4 data-animation-child class="small-title-oswald text-color-4 hover-content fade-anim-box tr-delay01" data-animation="fade-anim">EDUARDO BETANCOURT</h4><br>
                    <p data-animation-child class="p-letter-style text-color-4 hover-content fade-anim-box tr-delay02" data-animation="fade-anim">C.E.O</p><br>
                    <p data-animation-child class="p-letter-style text-color-6 hover-content fade-anim-box tr-delay02" data-animation="fade-anim">ebetancourt@codenhardware.com</p>
                </div>
            </a>
        </div>
        
        <div class="four-columns bottom-padding-60">
            <a data-animation-container href="#" class="content-left-margin-20 hover-box pointer-large d-block">
                <div data-animation-child class="overlay-anim-box2 overlay-dark-bg-1 team-img-box" data-animation="overlay-anim2">
                    <img class="hover-img" src="assets/images/team/2.jpg" alt="Balanchaev Balancha">
                </div>
                <div class="team-content">
                    <h4 data-animation-child class="small-title-oswald text-color-4 hover-content fade-anim-box tr-delay01" data-animation="fade-anim">GLORIA FIGUEROA</h4><br>
                    <p data-animation-child class="p-letter-style text-color-4 hover-content fade-anim-box tr-delay02" data-animation="fade-anim">CO FUNDADORA</p><br>
                    <p data-animation-child class="p-letter-style text-color-6 hover-content fade-anim-box tr-delay02" data-animation="fade-anim">gfigueroa@codenhardware.com</p>

                </div>
            </a>
        </div>
    </div>
</section> -->

<!-- section start -->
<section class="light-bg-1 top-bottom-padding-120 bg-code-dots-gray" data-midnight="black">
    <!-- container start -->
    <div data-animation-container class="container small bottom-padding-60">
        <div class="text-center">
            <h2 data-animation-child class="large-title text-color-1 overlay-anim-box2" data-animation="overlay-anim2">Somos tus nuevos socios</h2>
        </div>
        <div class="top-margin-30">
            <h3 data-animation-child class="small-title-oswald text-color-2 text-height-20 fade-anim-box tr-delay01" data-animation="fade-anim">implementamos un enfoque individual para cada cliente, ya que el alcance y los requisitos del proyecto pueden variar. Algunos clientes recurren a nosotros con una breve descripción del proyecto, mientras que otros, con información completa sobre el proyecto (documentación, diseño, maquetas). Independientemente de los requisitos que tenga, siempre estamos listos para ayudarlo.</h3>
            <p data-animation-child class="p-style-xsmall text-color-1 fade-anim-box tr-delay02" data-animation="fade-anim">creemos que la opinión de nuestro equipo de profesionales en nuestros proyectos o el de los clientes es sumamente importante, por eso siempre nos gusta compartir un poco de cada uno de ellos, acá una pequeña galería de nuestro equipo.</p>
        </div>
    </div><!-- container end -->
    
    <!-- about-slider start -->
    <div class="bottom-padding-00" style="padding-left: 20px; padding-right: 20px;">
<si-scroll-gallery
  [activatedItemPosition]="'center'"
  [bounceRate]="200"
  [gap]="120"
  [scaleRate]="1.5"
>
  <si-gallery-item><img src="assets/images/about/adult-brainstorming-business-1437908.jpg" style="width: 350px;" alt="about"></si-gallery-item>
  <si-gallery-item><img src="assets/images/about/apple-computer-desk-159807.jpg" style="width: 350px;" alt="about"></si-gallery-item>
  <si-gallery-item><img src="assets/images/about/apple-brainstorming-business-908288.jpg" style="width: 350px;" alt="about"></si-gallery-item>
</si-scroll-gallery>

    </div>
    <div data-animation-container class="container small bottom-padding-30">
        <div class="text-center">
            <p data-animation-child class="p-style-xsmall text-color-1 fade-anim-box tr-delay02" data-animation="fade-anim"><i class="im im-pointer"></i> click / toca y arrastrar imagen.</p>
        </div>
    </div><!-- container end -->
</section><!-- section end -->
<app-footer></app-footer>