<app-header></app-header>
<app-menu></app-menu>
<app-back-to-top [acceleration]="2" [animate]="true" [scrollDistance]="50" [speed]="50"></app-back-to-top>
<section id="up" class="page-head flex-min-height-box dark-bg-1">
  <div class="page-head-bg overlay-loading2" style="background-image: url(assets/images/backgrounds/menu/bg3.jpg);"></div>
  <div class="flex-min-height-inner">
    <div class="container top-bottom-padding-120 flex-container response-999">
      <div class="six-columns six-offset">
        <div class="content-left-margin-40">
          <h3 class="large-title-bold text-color-3">
            <span class="overlay-loading2 overlay-light-bg-1 tr-delay02">Todo comienza</span><br>
            <span class="overlay-loading2 overlay-light-bg-1 tr-delay04">con una buena</span><br>
            <span class="overlay-loading2 overlay-light-bg-1 tr-delay06 red-color">conversación</span><br>
        </h3>
          <p class="p-style-bold-up text-height-15 d-flex-wrap red-color">
            <span class="tr-delay08" data-text="Ya sea que desee discutir un nuevo proyecto o tomar una taza de café.">Ya sea que desee discutir un nuevo proyecto o tomar una taza de café.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a (click)="scroll(down)" class="scroll-btn pointer-large">
    <div class="scroll-arrow-box">
      <span class="scroll-arrow"></span>
    </div>
    <div class="scroll-btn-flip-box">
      <span class="scroll-btn-flip" data-text="Desliza">Desliza</span>
    </div>
  </a>
</section>
<section #down class="dark-bg-1 flex-min-height-box">
  <div class="flex-min-height-inner">
    <div class="container top-padding-120 bottom-padding-60 text-center">
      <div data-animation-container>
        <h2 class="large-title text-center">
          <span data-animation-child class="title-fill" data-animation="title-fill-anim"
            data-text="Contactanos Hoy">Contactanos Hoy</span>
        </h2>
        <p data-animation-child class="p-style-small text-color-3 fade-anim-box tr-delay03 center text-center" data-animation="fade-anim">
          Las capacidades de Code and Hardware permiten una innovación tecnológica rápida y eficiente. <br>Cada capacidad se puede ajustar a las necesidades específicas de su organización. <br>Póngase en contacto para obtener más información y solicite el esquema de su proyecto.</p>
      </div>
      <div class="flex-container top-padding-90 contact-box">
        <div class="four-columns bottom-padding-60">
          <div data-animation-container class="content-right-margin-20">
            <p data-animation-child class="small-title-oswald red-color overlay-anim-box2" data-animation="overlay-anim2">Llamadas o Whastapp</p>

            <p class="title-style-contact text-color-4">
                <span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                  data-animation="overlay-anim2">Oficinas: (507) 6300-5132</span><br>
                <span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay02"
                  data-animation="overlay-anim2">Ventas: (507) 6300-5132</span><br>
                <span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay03"
                  data-animation="overlay-anim2">Consultas: (507) 6300-5132</span>
              </p>
            <h6 data-animation-child class="flip-btn-box fade-anim-box tr-delay04" data-animation="fade-anim">
              <a href="https://api.whatsapp.com/send?phone=50763005132&text=Hola! Estoy interesado en los servicios de Code and hardware." target="_blank" class="flip-btn pointer-large" data-text="Escribenos en Whatsapp">Escribenos en Whatsapp</a>

            </h6>
          </div>
        </div>
        <div class="four-columns bottom-padding-60">
          <div data-animation-container class="content-left-right-margin-10">
            <p data-animation-child class="small-title-oswald red-color overlay-anim-box2"
              data-animation="overlay-anim2">Nuestros Email</p>
              <p class="title-style-contact text-color-4">
              
                <span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay03"
                  data-animation="overlay-anim2">admin@codenhardware.com</span>
              </p>
            <div data-animation-child class="flip-btn-box fade-anim-box tr-delay04" data-animation="fade-anim">
              <a href="https://api.whatsapp.com/send?phone=50763005132&text=Hola! Estoy interesado en los servicios de Code and hardware." target="_blank" class="flip-btn pointer-large" data-text="Atencion 24/7">Atencion 24/7</a>
            </div>
          </div>
        </div>
        <div class="four-columns bottom-padding-60">
          <div data-animation-container class="content-left-margin-20">
            <p data-animation-child class="small-title-oswald red-color overlay-anim-box2"
              data-animation="overlay-anim2">Visitanos</p>
            <p class="title-style-contact text-color-4">
              <span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay01"
                data-animation="overlay-anim2">Calle 47 Este, Edificio Workspace centre, Ciudad de Panamá, Panamá</span>
            </p>
            <h6 data-animation-child class="flip-btn-box fade-anim-box tr-delay04" data-animation="fade-anim">
              <a href="https://www.google.com.pa/maps/place/Code+and+Hardware/@8.9787288,-79.5296894,19z/data=!3m1!4b1!4m5!3m4!1s0x8fab55925c3591b1:0x1117b35cb19c542e!8m2!3d8.9787275!4d-79.5291422?hl=es"  class="flip-btn pointer-large" data-text="Buscanos en google maps">Buscanos en google maps</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-form-box flex-min-height-box light-bg-1"
  style="background-image:url(assets/images/backgrounds/fullscreen/bg4.jpg)">
  <div class="bg-overlay"></div>
  <div class="flex-min-height-inner">
    <div class="container small top-bottom-padding-120 text-center">
     <h2 class="text-center text-color-4 overlay-anim-box2 overlay-light-bg-1 tr-delay01 red-color"
     data-animation="overlay-anim2">FORMULARIO DE CONTACTO</h2>
      <h4 class="p-style-small text-color-3 fade-anim-box tr-delay03" data-animation="fade-anim">Utilice nuestro formulario de contacto para todas las solicitudes de información o contáctenos directamente utilizando la información de contacto a continuación.</h4>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="flex-container top-padding-90">
        <div class="col-md-4 mb-5 mb-sm-5">
          <div class="content-right-margin-10">
            <input formControlName="nombres" placeholder="Nombres" type="text" class="contact-form-control pointer-small">
            <span *ngIf="nombres.errors?.maxlength"><small class="text-danger pull-left">No puede exceder 30 dígitos.</small></span>
            <span *ngIf="nombres.errors?.required && nombres.touched"><small class="text-danger pull-left">Campo requerido.</small></span>
            <span *ngIf="nombres.errors?.pattern"><small class="text-danger pull-left">Solo Letras.</small></span>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-sm-5">
          <div class="content-left-right-margin-5">
            <input type="text" placeholder="Apellidos" class="contact-form-control pointer-small" formControlName="apellidos">
            <span *ngIf="apellidos.errors?.maxlength"><small class="text-danger pull-left">No puede exceder 30 dígitos.</small></span>
            <span *ngIf="apellidos.errors?.required && apellidos.touched"><small class="text-danger pull-left">Campo requerido.</small></span>
            <span *ngIf="apellidos.errors?.pattern"><small class="text-danger pull-left">Solo Letras.</small></span>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-sm-5">
          <div class="content-left-margin-10">
            <input type="email" placeholder="Direccion de email" class="contact-form-control pointer-small" formControlName="correo">
            <span *ngIf="correo.errors?.maxlength"><small class="text-danger pull-left">No puede exceder 30 dígitos.</small></span>
            <span *ngIf="correo.errors?.required && correo.touched"><small class="text-danger pull-left">Campo requerido.</small></span>
            <span *ngIf="correo.errors?.pattern"><small class="text-danger pull-left">Formato incorrecto.</small></span>
          </div>
        </div>
        <div class="col-md-12 mb-5 mb-sm-5">
          <textarea placeholder="Escribenos tu mensaje" class="contact-form-control pointer-small" formControlName="mensaje"></textarea>
          <span *ngIf="mensaje.errors?.maxlength"><small class="text-danger pull-left">No puede exceder 360 dígitos.</small></span>
            <span *ngIf="mensaje.errors?.required && mensaje.touched"><small class="text-danger pull-left">Campo requerido.</small></span>
        </div>
        <div class="col-md-12 text-center top-padding-20">
          <button *ngIf="contactForm.valid" class="hidden border-btn-box pointer-large" type="submit" [disabled]="!contactForm.valid">
            <span class="border-btn-inner">
              <span class="border-btn" data-text="Enviar Mensaje">Enviar Mensaje</span>
            </span>
          </button>
          <button *ngIf="!contactForm.valid" class="" type="submit" [disabled]="!contactForm.valid">
            <span  class="border-btn-inner">
              <span  class="border-btn" data-text="Formulario vacio">Formulario vacio</span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
